@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
body {
  font-family: "Arimo", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
/* Header */
.main-header {
  background-color: #fff;
  font-weight: 500;
}
header .container-fluid {
  padding-right: 0px !important;
}
.navbar {
  padding-top: 0;
}
.navbar .navbar-brand {
  width: 25%;
  text-align: center;
  padding-top: 10px;
}
.navbar-expand-lg .navbar-collapse {
  flex-direction: column;
}
.navbar .navbar-nav.navbar-top-1 {
  width: 100%;
  padding-left: 20px;
  background-color: #f86d22;
  border-radius: 0 0 0 9px;
}
.navbar-nav.navbar-top-1 .nav-link {
  color: rgba(255, 255, 255, 0.884);
}
.navbar-nav.navbar-top-1 .nav-link:focus,
.navbar-nav.navbar-top-1 .nav-link:hover {
  color: rgb(235, 222, 222);
}
.navbar .navbar-nav.navbar-top-2 {
  width: 100%;
  padding: 10px 0px 10px 0px;
  padding-left: 20px;
}
.navbar-nav.navbar-top-2 .nav-link.active {
  color: #f86d22;
}
.navbar-nav.navbar-top-2 .nav-link:focus,
.navbar-nav.navbar-top-2 .nav-link:hover {
  color: #eb6219;
}
/*----------- Banner ---------------*/
.block-banner {
  position: relative;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
.block-banner .content {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-40%);
}
.block-banner .content .btn-play {
  width: 6rem;
  height: 6rem;
  color: #fff;
  background: 0 0;
  border: 6px solid #fff;
  border-radius: 50px;
  opacity: 0.5;
  margin-left: 2rem;
}
.block-banner .content .btn-play:hover {
  opacity: 1;
}
.block-banner .content .title {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 2rem;
}
.block-banner .content .title:nth-child(2) {
  padding-bottom: 3rem;
}
/*--------------#region Main ---------------*/
/*------------- Section 1 -----------------*/
.block-intro {
  padding-top: 20px;
  position: relative;
}
.block-intro .heading {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}
.block-intro .heading .line::before {
  content: "";
  width: 9%;
  height: 1.5px;
  background-color: rgb(71, 70, 70);
  position: absolute;
  right: 40%;
  top: 85%;
  margin-right: -0.6rem;
}
.block-intro .heading .line::after {
  content: "";
  width: 9%;
  height: 1.5px;
  background-color: rgb(71, 70, 70);
  position: absolute;
  left: 40%;
  top: 85%;
  margin-left: -0.5rem;
}
.block-intro .block-inner {
  position: relative;
  margin-bottom: 3.5rem;
}
.block-intro .block-inner .col-md-5.line-left::after {
  content: "";
  height: 22%;
  border-left: 2px solid #cccccc;
  position: absolute;
  top: 70%;
  transform: translateY(100%);
  right: calc(100% - 40px);
}
.block-intro .block-inner .col-md-5.line-right::after {
  content: "";
  height: 22%;
  border-right: 2px solid #cccccc;
  position: absolute;
  top: 70%;
  transform: translateY(100%);
  left: calc(100% - 30px);
}
.block-intro .block-inner .item {
  position: relative;
}
.block-intro .block-inner .img-block {
  position: absolute;
  top: 24%;
}
.block-intro .block-inner .img-block.right {
  right: 10px;
}
.block-intro .block-inner .img-block.left {
  left: 10px;
}
.block-intro .block-inner .item .content.right {
  text-align: right;
  padding-right: 80px;
}
.block-intro .block-inner .item .content.left {
  text-align: left;
  padding-left: 80px;
}
.content.left .title,
.content.right .title {
  font-weight: bold;
}
.content.left p,
.content.right p {
  font-size: 13px;
  font-weight: bold;
}
/*----------- Section 2 --------------------*/
.block-intro-2.center {
  text-align: center;
}
.block-intro-2 .block-inner {
  padding: 60px 0;
}
.block-inner .block-container {
  max-width: 850px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.block-intro-2 .bg {
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/bg_app.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.block-intro-2 .placeholder {
  text-align: center;
  width: 100%;
  padding: 100% 0 0;
  position: relative;
}
.block-intro-2 .item {
  position: absolute;
  width: 85px;
  height: 85px;
  font-size: 12px;
  line-height: 17px;
  color: #3e3e3e;
  font-weight: 700;
}
.block-intro-2 .item .block-icon {
  width: 67px;
  height: 67px;
  border-radius: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  position: relative;
  background-color: #fff;
}
.block-intro-2 .item p {
  position: absolute;
  top: 90%;
  width: 175px;
  left: 50%;
  transform: translate(-50%, 0);
}
.block-intro-2 .item.item-1 {
  top: 40%;
  left: 0;
  margin-top: -42px;
  margin-left: -42px;
}
.block-intro-2 .item.item-6 {
  width: 224px;
  height: 56px;
  bottom: 9%;
  left: 50%;
  margin-left: -112px;
  margin-top: -38px;
  /* background: url(/assets/images/btn-contact.png); */
  border: none;
  outline: 0;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}
/*-------------- #endregion Main -----------*/
/*------------- Footer -------------*/
.text-footer ul li a {
  margin: 10px 0px;
  color: #ff8240;
  font-size: 13px;
  font-weight: bold;
  pointer-events: none;
}
.text-footer ul li:nth-child(2),
.text-footer ul li:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-footer:not(:nth-child(1)) ul li:nth-child(2) a,
.text-footer ul li:nth-child(4) a {
  color: #fff !important;
  font-weight: normal;
}
.text-footer:nth-child(1) ul li a {
  cursor: pointer;
  pointer-events: all;
}
.text-footer:nth-child(1) ul li a:hover {
  color: #f86d22;
}
.text-footer ul li img {
  width: 35px;
  height: 35px;
}
.text-footer:nth-child(4) ul li:not(:nth-child(1)) a {
  pointer-events: all;
}

/* ------ @media ----------*/
@media (max-width: 992px) {
  /* Banner */
  .block-banner .content .btn-play {
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid #fff;
    font-size: 2.5vw;
  }
  .block-banner .content .title {
    font-size: 3vh;
  }
  .block-banner .content .title:nth-child(2) {
    padding-bottom: 0rem;
  }
  /* Main */
  .block-intro .heading {
    font-size: 1rem;
  }
}
@media (max-width: 767.98px) {
  .block-banner .content .title {
    font-size: 3vh;
  }
  .block-banner .content .title:nth-child(2) {
    padding-bottom: 0rem;
  }
  .block-intro .block-inner {
    position: relative;
    margin-bottom: 1.5rem;
  }
  .block-intro .block-inner .col-md-5.line-left::after,
  .block-intro .block-inner .col-md-5.line-right::after {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .block-banner .content .mt-5 {
    margin-top: 0 !important;
  }
  .block-banner .content .btn-play {
    width: 2rem;
    height: 2rem;
    font-size: 2.5vw;
    border: 1px solid #fff;
  }
  .block-banner .content .title {
    font-size: 2vh;
  }
  .block-banner .content .title:nth-child(2) {
    padding-bottom: 0rem;
  }
}
@media screen and (max-width: 320px) {
  .block-banner .content .mt-5 {
    margin-top: 1rem !important;
  }
  .block-banner .content .btn-play {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    position: absolute;
    top: 45%;
    right: 20%;
  }
  .block-banner .content .title {
    font-size: 10px;
  }
}
@media (max-width: 1350px) {
  .navbar-top-1 .nav-item.item-right {
    margin-left: 3rem;
  }
}
